body{
    text-align: center;
}

#image{
    width: 250px;
    border-radius:50%;
}

#welcome{
    padding-top: 100px;
        background:linear-gradient(#33c9cc 0%,#4bc400 100% ); 
    height: 800px;
    color: floralwhite; 
    opacity:0.83; 
    z-index: 9;
}

h1{
    font-size: 40px;
    line-height: 1.2;
    font-family: sans-serif;
    font-weight: bold;
        
}
h2{
   font-size: 30px;
    line-height: 1.2;
    font-family: sans-serif;
    font-weight: bold; 
}

#bio{
    padding: 50px;
    font-family:inherit;
}

p{
    max-width: 450px;
    line-height: 1.3;
    font-size: 20px;
    margin: 25px auto; 
    
}

.links{
    color:crimson;
    font-family:sans-serif;
    font-size: 30px;
    padding-left: 33px;
    padding-right: 25px;
    display: inline;
}

.links:hover{
 font-size: 25px;
 text-decoration: underline;
}

.menu{
    z-index: 10;
    list-style: none;
    top: 0px;
    margin-top: 0px;
    cursor: pointer;
    color:crimson;
    position:fixed;
    background: white;
    width: 100%;
}
 
.line{
    width: 70px;
    height: 8px;
    background-color: darkslateblue;
    margin:8px auto;
}

html{
    scroll-behavior: smooth;
    
}

a{
    text-decoration:none;   
}

.arcticle:hover{
    color: firebrick;
    
}

#contacts h3{
    display:inline;
}

a{
    text-shadow: 2px 2px gainsboro;
    color:darkgoldenrod;
    text-decoration: none;
}

#contacts{
    background:darkgoldenrod;
}

#contacts iframe {
   width: 100%;
}

#contacts a {
    text-decoration: none;
    color: currentColor;
    text-shadow: none;
}